{% extends 'base.html.twig' %}

{% block title %}GSI Holding | Mentions Légales et CGU{% endblock %}

{% block body %}
 <div class="container mt-4 mb-4">
     <div class="row">
         <div class="card mt-4 mb-4">
             <h1 class="card-title text-center mt-4"><span class="underline--magical">Mentions légales Site GSI</span></h1>
             <div class="card-body">
                 <h2><span class="underline--magical">Identifaction</span>
                     <p>Le présent site est la propriété de GROUPE SOFRA INVEST, SARL au capital social de 280 000 euros, immatriculée au Registre du commerce et des sociétés de Nantes sous le Numéro 809 034 143 dont le siège social est situé 9, Rue du Progrès 44840 LES SORINIERES.</p>
                     <p>Téléphone : 02 40 75 00 22<br>
                         E-mail : commercial@gsi-holding.fr<br>
                         Code APE : 6420Z
                     </p>
                     <p>Le directeur de la publication du site est : <span>Jérôme BLOT</span></p>
                     <p>La société assurant l’hébergement est : ……………….<br>
                         La société qui a réalisé le site est : …………………………….
                     </p>
                     <h2><span class="underline--magical">Propriété intellectuelle</span></h2>

                     <p>L’ensemble des éléments de tous types (textes, photographies, images, animations, marques….) présents sur ce site sont de la propriété exclusive du GROUP SOFRA INVEST et constituent une œuvre de l’esprit au sens des articles 112-2 et suivants du code de la Propriété Intellectuelle, relevant en tant que telle de la législation française et internationale sur la Propriété Littéraire et Artistique.</p>
                     <p> Toute reproduction totale ou partielle de ce site sur quelque support que ce soit y compris sous la forme de téléchargement est formellement interdite sauf autorisation expresse du GROUP SOFRA INVEST et constituerait une contrefaçon sanctionnée par les articles L.335-2 et s. du Code de la Propriété Intellectuelle.</p>
                     <p>Les marques et logos contenus dans ce site sont protégés et déposés par leurs propriétaires respectifs.</p>

                     <p>Toute reproduction totale ou partielle de ces marques et logos faite sans leur accord préalable est prohibée par l’article L.713-2 du Code de la Propriété Intellectuelle.</p>

                     <h3><span class="underline--magical">Liens hypertextes</span></h3>

                     <p>Les liens hypertextes mis en place dans le cadre du présent site Internet en direction d’autres sites présents sur le réseau Internet, ne sauraient engager la responsabilité du GROUP SOFRA INVEST en ce qui concerne leur contenu ou les liens qu’ils contiennent, ainsi que leurs conditions d’exploitation (notamment gestion des données personnelles,…)</p>
                     <p>La possibilité d’établir des liens hypertextes simple vers le site www.gsi-holding.fr est soumise à l’accord préalable du GROUP SOFRA INVEST.</p>
                     <p>Tout lien hypertexte profond, ou utilisant la technique du "Framing" (affichage d’une page dans un cadre au sein d’un autre site), est interdit.</p>
                 </h2>
             </div>
         </div>
     </div>
 </div>
{% endblock %}
